 <header>
    <P style="display:inline" ><A href ="/">Home</A> </P>
    <P style="display:inline"><A href ="/about">About</A> </P>
    <P style="display:inline"><A href ="/projects">Projects</A> </P>
    <h1>{{pageTitle}}</h1>
 </header>
